@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    color: #fff;
}

body {
    background: linear-gradient(120deg, #000000, #08000c);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.g_tlo {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 10;
    animation: g_tlo 10ms linear forwards;
}
@keyframes g_tlo {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-500px);
    }
    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

.main {
    background: rgba(71, 68, 105, 0.281);
    width: 20vw;
    height: 10vw;
    position: relative;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



#main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    height: 100vh; 
}

.napis {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-25%, 50%); 
    color: #fff; 
    text-align: center; 
    margin: auto; 
    scale: 2;
}

.main {
    display: flex;
    justify-content: center;
    gap: 1px; 
}

.main a {
    position: relative;
    margin:  1vw;
    padding: 5px;

}


.icon {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #09000a; 
    box-shadow: 0 0 2px rgba(12, 0, 17, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon img {
    border-radius: 50%; 
    max-width: 100%;
    max-height: 100%; 
}

.icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 12px rgba(225, 0, 255, 0.6); 
}